<!DOCTYPE html>
<html>
  <head>
    <title>Libros</title>
    <link rel='stylesheet' href='/stylesheets/custom/custom.css' />
  </head>

<div id="prin" class="flex justify-around h-40 bg-blue-900 items-center">
      <a href="/" class="text-4xl"> Inicio</a>
      <a href="/books" class="text-3xl font-bold">Books</a>
      <a href="/add" class="text-3xl font-bold">Crear libro</a>
</div>

<style>
  #prin{
    background: blue;
    height: 10vh;
  }
  a{
    font-size: 30px;
    font: bold;
  }
</style>