<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom/custom.css' />
  </head>
  <body class="bg-pink-700">
    <h1>Crear</h1>
  </body>
</html>
