<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom/custom.css' />
  </head>
  <body>
    <div class="h-screen">
      <%- include('partials/header.ejs') %> 
      <div>
        <form action="/books" method="POST">
          <p>Titulo:</p>
          <input type="text" name="title" placeholder="Introduce un titulo">
          <p>Autor:</p>
          <input type="text" name="autor" placeholder="Introduce un autor">
          <p>Imagen:</p>
          <input type="text" name="imagen" placeholder="Introduce una url de una imagen">
          <p>Descripcion:</p>
          <textarea name="descrip" placeholder="Introduce una url de una imagen" class="resize-none"></textarea>
          <button type="submit">Crear libro</button>
        </form>
      </div>

    </div>
  </body>
</html>
