<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom/custom.css' />
  </head>
  <body>
    <header class="flex justify-between h-20 bg-blue-600 items-center">
      <div class="ml-20"><h1 class="text-3xl font-bold">Inicio</h1></div>
      <div class="mr-20 flex justify-between w-64">
        <a href="/books" class="text-3xl font-bold">Books</a>
        <a href="/add" class="text-3xl font-bold">Crear libro</a>

      </div>
    </header>
  </body>
</html>
