<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom/custom.css' />
  </head>
  <body>
    <%- include('partials/header.ejs') %> 

  </body>
</html>
